*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #444;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 25px;
  color: rgba(125, 240, 255, 0.9);
  font-size: 35px;
}
.site-header {
  margin: 0;
  text-align: center;
}
.todo-form {
    display: flex;
    align-items: center;
  }
  .todo-input {
    border-radius: 15px;
    padding: 5px 10px;
    border: none;
    margin-right: 5px;
    font-size: 18px;
    transition: 1s all ease-in-out;
  }
  .todo-input:focus {
    color: white;
    background-color: #555;
    outline: none;
    box-shadow: rgb(44, 121, 202) -10px 20px 30px -10px;
    transition: 1s all;
  }
  .delete-todo {
    border: none;
    background-color: rgba(25, 255, 255, 0.9);
    cursor: pointer;
    margin-right: 35px;
    border-radius: 10px;
    transition: 1s all ease;
    padding: 5px 10px;
    font-size: 18px;
  }
  .delete-todo:hover {
    background-color: rgba(5, 255, 255, 0.7);

    box-shadow: rgb(44, 121, 202) 0px 20px 30px -10px;
  }
.todo-list{
    text-decoration: none;
    list-style-type: none;


}
.todo-title{
    margin-right: 25px;
}
.input-item{
    font-size:20px ;
    color:#fff;
    margin-bottom: 15px;

}